@using CakeShop.Web.ViewModels.Desserts.ViewModels;
@model DessertDetailsViewModel;
@if (this.TempData["ErrorMessage"] != null)
{
    <div id="notification" class="alert alert-danger text-center alert-dismissible fade show custom-margin-identity" role="alert">
        @this.TempData["ErrorMessage"]
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">OK</span>
        </button>
    </div>
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2 class="offset-1">Product detail</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Shop" asp-action="GetAllCategories">Shop</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__img">
                    <div class="product__details__big__img">
                        <img class="big_img" src="@Model.Picture" alt="dessert-picture">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <a id="category-id" class="product__label" asp-area="" asp-controller="Shop" asp-action="GetAllCurrentCategory" asp-route-id="@Model.CategoryId">@Model.CategoryName</a>
                    <h4 class="text-uppercase">@Model.Name</h4>
                    <div id="dessert-id" hidden>@Model.Id</div>
                    <h5>$ @Model.Price</h5>
                    <p>
                        @Model.Description
                    </p>
                    <ul>
                        <li>Category: <span>@Model.CategoryName</span></li>
                        <li>Tags: <span>@string.Join(", ", Model.TagNames)</span></li>
                        <li>Main Ingredients: <span>@string.Join(", ", Model.IngredientNames)</span></li>
                    </ul>
                    <form id="order" method="post"></form>
                    <div class="product__details__option">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input id="quantity" type="text" value="1">
                            </div>
                        </div>
                        <a id="add-to-card" href="#" class="primary-btn">Add to cart</a>
                        <form id="likes" method="post"></form>
                        <div id="like-dessert" class="heart__btn">
                            @if (Model.IsFavourite)
                            {
                                <span>
                                    <i class="fa fa-heart"></i>
                                </span>
                            }
                            else
                            {
                                <span>
                                    <i class="far fa-heart"></i>
                                </span>
                            }
                        </div>
                        <div id="added-message-success" class="text-success"></div>
                        <div id="added-message-error" class="text-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<vc:dessert-reviews dessert-id="@Model.Id"></vc:dessert-reviews>
<vc:related-products category-id="@Model.CategoryId" tag-tag-names="@Model.TagNames"></vc:related-products>

@section Scripts {
    <script src="~/js/likeDessert.js" asp-append-version="true"></script>
    <script src="~/js/addDessertToBasket.js" asp-append-version="true"></script>

    <script>likeDessert();</script>
    <script>addDessertToBasket();</script>
}


