@using CakeShop.Web.ViewModels.Desserts.ViewModels;
@model AllDessertsByCategoryViewModel;

@{
    ViewData["Title"] = Model.Desserts.FirstOrDefault().CategoryName;
    var categoryId = Model.Desserts.FirstOrDefault().CategoryId;
}

<partial name="_GetAllCurrentCategoryBreadCrumbPartial" />
<section class="shop spad">
    <div class="container">
        <partial name="_OrderDessertsPartial" />
        <h2 class="mb-2 mt-3 text-center text-uppercase">@ViewData["Title"]</h2>
        <div id="category-id" hidden>@categoryId</div>
        <hr />
        <div id="desserts" class="row m-2">
            @foreach (var dessert in Model.Desserts)
            {
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@dessert.Picture">
                            <div class="product__label">
                                <span>@dessert.CategoryName</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a asp-area="" asp-controller="Shop" asp-action="DessertDetails" asp-route-id="@dessert.Id">@dessert.Name</a></h6>
                            <div class="product__item__price">$ @dessert.Price</div>
                            <div class="cart_add">
                                <a asp-area="" asp-controller="Shop" asp-action="DessertDetails" asp-route-id="@dessert.Id">See details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <partial name="_ShopPaginationPartial" model="@Model" />
</section>

@section Scripts {
    <script src="~/js/orderDessertsByCriteria.js" asp-append-version="true"></script>
}
