@using CakeShop.Web.ViewModels.Desserts.ViewModels;
@model AllDessertsByCategoryViewModel;

@{
    ViewData["Title"] = Model.Desserts.FirstOrDefault().CategoryName;
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Shop</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="shop spad">
    <div class="container">
        <h2 class="mb-2 mt-3 text-center text-uppercase">@ViewData["Title"]</h2>
        <hr />
        <div class="row m-2">
            @foreach (var dessert in Model.Desserts)
            {
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@dessert.Picture">
                            <div class="product__label">
                                <span>@dessert.CategoryName</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a asp-area="" asp-controller="Shop" asp-action="DessertDetails" asp-route-id="@dessert.Id">@dessert.Name</a></h6>
                            <div class="product__item__price">$ @dessert.Price</div>
                            <div class="cart_add">
                                <a asp-area="" asp-controller="Shop" asp-action="DessertDetails" asp-route-id="@dessert.Id">See details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <partial name="_ShopPaginationPartial" model="@Model" />
</section>
