@using CakeShop.Web.ViewModels.Administration.Desserts.ViewModels;
@model AllDessertsAdminViewModel;

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>All Desserts</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <span>All Desserts</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="wishlist spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wishlist__cart__table">
                    <table id="desserts-table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dessert in Model.Desserts)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img class="small-pic" src="@dessert.Picture" alt="dessert">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <a asp-area="" asp-controller="Shop" asp-action="DessertDetails" asp-route-id="@dessert.Id"><h6>@dessert.Name</h6></a>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ @dessert.Price</td>
                                    <td class="cart__stock">@dessert.CategoryName</td>
                                    <td class="cart__btn"><a asp-area="Administration" asp-controller="Desserts" asp-action="Update" asp-route-id="@dessert.Id" class="site-btn">Update</a></td>
                                    <td class="cart__close"><span class="icon_close delete-dessert"></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#desserts-table").DataTable();
        });
    </script>

    <script>
        [...document.getElementsByClassName("delete-dessert")].forEach((element => {
            element.addEventListener("click", deleteDessert);
        }))

        function deleteDessert(event) {
            console.log(event.target);
        }
    </script>
}