<h5>Order by</h5>
<div class="blog__sidebar__social">
    <div class="row">
        <div class="col-12 mb-5">
            <form id="order-criterias-recipes" method="post"></form>
            <select id="order-recipes" onchange="orderRecipesByCriteria();">
                <option value="removeFilter">Default sorting</option>
                <option value="title">@GlobalConstants.CriteriaTitle</option>
                <option value="newest">@GlobalConstants.CriteriaNewest</option>
                <option value="oldest">@GlobalConstants.CriteriaOldest</option>
                <option value="likes">@GlobalConstants.CriteriaLikes</option>
                <option value="comments">@GlobalConstants.CriteriaComments</option>
            </select>
        </div>
    </div>
</div>