@using CakeShop.Web.ViewModels.Recipes.ViewModels;
@model AllRecipesViewModel;

@{
    var category = Model.Repices.Select(r => r.CategoryName).FirstOrDefault();
    ViewData["Title"] = category;
}

<partial name="_BreadCrumbPartial" />
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var repice in Model.Repices)
                {
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="@repice.Picture">
                            <div class="blog__pic__inner">
                                <div class="label">@repice.CategoryName</div>
                                <ul>
                                    <li>By <span>@repice.Author</span></li>
                                    <li>@repice.CreatedOn</li>
                                    <li><i class="far fa-thumbs-up"></i> @repice.RecipeLikesCount</li>
                                    <li><i class="far fa-comments"></i> @repice.CommentsCount</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__item__text">
                            <h2>@repice.Title</h2>
                            <p>@repice.ShortContent</p>
                            <a asp-area="" asp-controller="Recipes" asp-action="RecipeDetails" asp-route-id="@repice.Id">READ MORE</a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__item">
                        <h5>Follow me</h5>
                        <div class="blog__sidebar__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <vc:sidebar-recipes criteria="@GlobalConstants.CriteriaRecent"></vc:sidebar-recipes>
                    <vc:sidebar-recipes criteria="@GlobalConstants.CriteriaPopular"></vc:sidebar-recipes>
                    <vc:categories-sidebar></vc:categories-sidebar>
                </div>
            </div>
        </div>
    </div>
</section>
