@using CakeShop.Web.ViewModels.Recipes.ViewModels;
@model RecipeDetailsViewModel;
@inject IOptions<CakeShop.Web.SecurityModels.GoogleReCAPTCHA> GoogleReCAPTCHA;

@{
    ViewData["Title"] = "Recipe's Details";
}

<partial name="_InfoMessagePartial" />
<partial name="_BreadCrumbPartial" />
<div class="blog-hero set-bg" data-setbg="/img/blog/details/blog-hero.jpg">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7">
                <div class="blog__hero__text">
                    <div id="recipe-id" hidden>@Model.Id</div>
                    <div class="label">@Model.CategoryName</div>
                    <h2>@Model.Title</h2>
                    <ul>
                        <li>By <span>@Model.Author</span></li>
                        <li>@Model.CreatedOn</li>
                        <li>@Model.CommentsCount Comments</li>
                        <li>@Model.LikesCount Likes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__content">
                    <div class="blog__details__recipe">
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/user.png" alt=""> SERVES</h6>
                            <span>@Model.Portions</span>
                        </div>
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/clock.png" alt=""> PREP TIME</h6>
                            <span>@Model.PreparationTime minute</span>
                        </div>
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/clock.png" alt=""> COOK TIME</h6>
                            <span>@Model.CookingTime minute</span>
                        </div>
                    </div>
                    <div class="blog__details__recipe__details">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__ingredients">
                                    <h6>Ingredients</h6>
                                    <ul>
                                        @foreach (var ingredient in Model.RepiceIngredients)
                                        {
                                            <li>
                                                <span>.</span>
                                                @ingredient.Quantity @ingredient.IngredientName
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__ingredients__pic">
                                    <img src="@Model.Picture" alt="dessert-pic">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__details__direction">
                        <h6>Directions</h6>
                        <article>
                            @Html.Raw(@Model.SanitizedContent)
                        </article>
                    </div>
                    <div class="blog__details__print">
                        <a asp-area="" asp-controller="Recipes" asp-action="GenerateRecipePdf" asp-route-id="@Model.Id" class="primary-btn hover-effect-orange"><i class="fa fa-print"></i> Print recipe</a>
                        <a asp-area="" asp-controller="Recipes" asp-action="SendRecipe" asp-route-id="@Model.Id" class="primary-btn hover-effect-orange"><i class="far fa-envelope"></i> Send recipe</a>
                    </div>
                    <div class="blog__details__comment">
                        <h5>@Model.CommentsCount Comment</h5>
                        <partial name="_AddCommentFormPartial" model="@Model.AddCommentInputModel" />
                        <vc:get-comments-current-recipe recipe-id="@Model.Id"></vc:get-comments-current-recipe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/loadCommentAddForm.js" asp-append-version="true"></script>
    <script>loadCommentAddForm();</script>

    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.SiteKey"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleReCAPTCHA.Value.SiteKey', { action: 'homepage' }).then(function (token) {
            });
        });
    </script>
}