@using CakeShop.Web.ViewModels.Administration.Categories.InputModels;
@model UpdateCategoryInputModel;

@{
    this.ViewData["Title"] = "Update";
}

<partial name="_BreadCrumbPartial" />

<div class="row">
    <div class="col-lg-8">
        <div class="class__form">
            <form asp-area="Administration" asp-controller="Categories" asp-action="Update" method="post" enctype="multipart/form-data" class="update-section mt-4">
                <input asp-for="@Model.Id" type="hidden" />
                <div div class="col-lg-4 offset-sm-4">
                    <img class="big_img mt-2" src="@Model.Picture" alt="dessert-picture">
                </div>
                <div class="form-group col-md-10">
                    <label asp-for="@Model.Name"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-10">
                    <label asp-for="@Model.Description"></label>
                    <textarea asp-for="@Model.Description" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 ml-3">
                        <label asp-for="@Model.NewPicture"></label>
                        <input id="new-pic" type="file" asp-for="@Model.NewPicture" />
                        <span asp-validation-for="@Model.NewPicture" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 mt-4 ml-5">
                        <button type="submit" class="site-btn mb-4 ml-4 danger">Update</button>
                    </div>
                    <div class="form-group col-md-3 mt-4 ml-3">
                        <a asp-area="Administration" asp-controller="Categories" asp-action="GetAll" class="site-btn mb-4">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>