@using CakeShop.Web.ViewModels.Users.ViewModels;
@model AllUserOrdersBaseViewModel;

@{
    ViewData["Title"] = "My Orders";
}

<partial name="_BreadCrumbPartial" />
<section class="wishlist spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wishlist__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Order Date</th>
                                <th>Total Sum</th>
                                <th>Paid</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.UserOrders)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__text">
                                            <h6>@order.FormattedFinalizeOrder</h6>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ @order.TotalPrice</td>
                                    @if (order.IsPaid)
                                    {
                                        <td class="cart__stock text-success">@order.PaidAsString</td>
                                    }
                                    else
                                    {
                                        <td class="cart__stock text-danger">@order.PaidAsString</td>
                                    }
                                    @if (order.Status == GlobalConstants.ApprovedStatus)
                                    {
                                        <td class="cart__stock text-info">@order.Status</td>
                                    }
                                    else if (order.Status == GlobalConstants.CancelledStatus)
                                    {
                                        <td class="cart__stock text-danger">@order.Status</td>
                                    }
                                    else if (order.Status == GlobalConstants.DeliveredStatus)
                                    {
                                        <td class="cart__stock text-success">@order.Status</td>
                                    }
                                    else
                                    {
                                        <td class="cart__stock text-warning">@order.Status</td>
                                    }
                                    <td class="cart__btn"><a asp-area="" asp-controller="Orders" asp-action="GetOrderDetails" asp-route-id="@order.Id" class="site-btn">Details</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<partial name="_MyOrdersPaginationPartial" />