@using CakeShop.Web.ViewModels.Administration.Recipes.InputModels;
@model UpdateRecipeInputModel;
@inject IOptions<CakeShop.Web.SecurityModels.GoogleReCAPTCHA> GoogleReCAPTCHA;

@{
    this.ViewData["Title"] = "Update";
}

<partial name="_BreadCrumbPartial" />
<section class="class spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="class__form">
                    <form asp-area="Administration" asp-controller="Recipes" asp-action="Update" method="post" enctype="multipart/form-data" class="mt-4">
                        <input asp-for="@Model.Id" type="hidden" />
                        <img class="big_img offset-3" src="@Model.Picture" alt="dessert-picture">
                        <div class="row ml-2 mt-2">
                            <div class="form-group col-md-10 mt-2">
                                <label asp-for="@Model.Title"></label>
                                <input asp-for="@Model.Title" class="form-control" />
                                <span asp-validation-for="@Model.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-10">
                                <label asp-for="@Model.Content"></label>
                                <textarea asp-for="@Model.Content" rows="10" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Content" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="@Model.CategoryId"></label>
                                <select id="category" asp-for="@Model.CategoryId" class="form-control col-md-12" asp-items="@Model.Categories">
                                    <option selected>Please select dessert category</option>
                                </select>
                                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="@Model.Portions"></label>
                                <input asp-for="@Model.Portions" class="form-control" />
                                <span asp-validation-for="@Model.Portions" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="@Model.CookingTime"></label>
                                <input asp-for="@Model.CookingTime" class="form-control" />
                                <span asp-validation-for="@Model.CookingTime" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="@Model.PreparationTime"></label>
                                <input asp-for="@Model.PreparationTime" class="form-control" />
                                <span asp-validation-for="@Model.PreparationTime" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-10">
                                <label asp-for="@Model.NewPicture"></label>
                                <input id="new-pic" type="file" asp-for="@Model.NewPicture" />
                                <span asp-validation-for="@Model.NewPicture" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4 mt-2 offset-sm-4">
                                <button type="submit" class="site-btn mb-6">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/tinymce/tinymce.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/tinymce/visualizer.js" type="text/javascript" asp-append-version="true"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.SiteKey"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleReCAPTCHA.Value.SiteKey', { action: 'homepage' }).then(function (token) {
            });
        });
    </script>
}